@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@import 'tailwindcss';
@plugin "@midudev/tailwind-animations";

:root {
    --color-primary: #5ab454 ; 
    --color-secondary: #226f2c ; 
    --color-secondary-darker: #134922 ;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/poppins-normal.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-style: normal;
    src: url('/fonts/poppins-semiregular.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/poppins-bold.woff2') format('woff2');
}