@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@import 'tailwindcss';
@plugin "@midudev/tailwind-animations";

:root {
    --color-primary: #5ab454 ; 
    --color-secondary: #226f2c ; 
    --color-secondary-darker: #134922 ;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/poppins-normal.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-style: normal;
    src: url('/fonts/poppins-semiregular.woff2') format('woff2');
}
@font-face {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/poppins-bold.woff2') format('woff2');
}

.line {
  transition: all 0.3s ease;
}

.menu-open .line.top {
  transform: rotate(45deg);
  transform-origin: 4px 5px;
}

.menu-open .line.middle {
  opacity: 0;
}

.menu-open .line.bottom {
  transform: rotate(-45deg);
  transform-origin: 4px 19px;
}

.welcome-text::after{
  content: '';
  width: 80%;
  position: absolute;
  bottom: -45%;
  left: 0%;
  border-bottom: 3px solid rgb(151, 151, 151);
}

.our-products::after{
  content: '';
  width: 50%;
  position: absolute;
  top: 50%;
  margin-right: 30px;
  right: 100%;
  border-top: 2px solid white;
}

.our-products::before{
  content: '';
  width: 50%;
  position: absolute;
  top: 50%;
  margin-left: 30px;
  left: 100%;
  border-top: 2px solid white;
}

.info-text::after{
  content: '';
  width: 20%;
  position: absolute;
  text-align: center;
  top: -30%;
  right: 40%;
  border-top: 6px solid var(--color-primary);
}

.info-img::after{
  content: '';
  width: 15%;
  height: 10%;
  opacity: 60%;
  position: absolute;
  text-align: center;
  top: 0%;
  right: 0%;
  border-top: 4px solid white;
  border-right: 4px solid white;
}

.info-img::before{
  content: '';
  height: 10%;
  width: 10%;
  opacity: 60%;
  position: absolute;
  bottom: -10%;
  left: 15%;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
}

@media screen and (max-width: 768px) {
  .info-img::after,
  .info-img::before{
    display: none;
  }
  .our-products::after,
  .our-products::before{
  margin-left: 10px;
  margin-right: 10px;
  }

}