---
import ProductCarousel from "@/components/animations/ProductCarousel";
import { products } from "@/types/Products";
---

<section
  class="bg-[url(/image1.png)] bg-center bg-cover relative w-full h-[920px] flex flex-col items-center justify-center overflow-hidden 2xl:min-w-screen mask-y-from-90% mask-y-to-100%"
  id="productos"
>
  
  <h1 class="our-products relative text-3xl md:text-6xl text-white font-semibold mb-12 md:mt-12 z-10">
    Nuestros productos
  </h1>
  <ProductCarousel client:only="react" products={products} />
  <!-- <div class="my-8">
    <a href="/Integrales.pdf" download class="bg-red-900 p-3 rounded-xl flex justify-center items-center gap-2 hover:bg-red-800 transition">
      <iconify-icon icon="material-icon-theme:pdf" class="text-2xl md:text-4xl"></iconify-icon>
      <span class="text-white text-sm md:text-xl ">Descargar Catálogo</span>
      <iconify-icon icon="line-md:download" class="text-2xl md:text-3xl text-white"></iconify-icon>
    </a>
  </div> -->
</section>
