---
import ProductCarousel from "@/components/animations/ProductCarousel";
import { products } from "@/types/Products";
import Aurora from "@/components/animations/Aurora";
---

<section class="relative w-full h-screen flex flex-col items-center justify-center overflow-hidden border-t-2 border-white" id="productos">
  <Aurora
    client:load
    className="absolute inset-0 z-0"
    colorStops={["#5ab454", "#226f2c", "#134922"]}
    blend={0.5}
    amplitude={1.0}
    speed={0.5}
  />
  <h1 class="text-3xl md:text-6xl text-white font-semibold my-12 z-10">Nuestros productos</h1>
  <ProductCarousel client:load products={products} />
</section>



