---
import ProductCarousel from "@/components/animations/ProductCarousel";
import { products } from "@/types/Products";
---

<section
  class="relative w-full h-screen flex flex-col items-center justify-center overflow-hidden 2xl:min-w-screen"
  id="productos"
>
  
  <h1 class="our-products relative text-3xl md:text-6xl text-white font-semibold mb-12 md:mt-12 z-10">
    Nuestros productos
  </h1>
  <ProductCarousel client:idle products={products} />
</section>
