---
import ProductCarousel from "@/components/animations/ProductCarousel";
import { products } from "@/types/Products";
---

<section
  class="bg-[url(/image1.png)] bg-center bg-cover relative w-full h-[820px] flex flex-col items-center justify-center overflow-hidden 2xl:min-w-screen mask-y-from-90% mask-y-to-100%"
  id="productos"
>
  
  <h1 class="our-products relative text-3xl md:text-6xl text-white font-semibold mb-12 md:mt-12 z-10">
    Nuestros productos
  </h1>
  <ProductCarousel client:only="react" products={products} />
</section>
