<footer id="contacto">
  <hr class="border-gray-400 mx-6 mb-8 md:mx-12 md:mb-12" />
  <div
    class="text-white grid gap-12 md:grid-cols-3 justify-between items-start mx-8 md:mx-12 pb-20"
  >
    <div class="flex flex-col gap-3">
      <a class="flex items-center gap-2" href="https://www.instagram.com/fonsolgroup/">
        <img class="size-10" src="/img/logoFONSOL.png" alt="Logo" />
        <span class="self-center font-semibold text-xl">Fonsol Group</span>
      </a>
      <p>Elegancia y resistencia en tu cocina</p>
      <div class="flex items-center gap-2">
        <a href="https://www.tiktok.com/@fonsolgroup" target="_blank">
          <iconify-icon
            icon="ic:twotone-tiktok"
            class="text-2xl text-gray-300 hover:brightness-50"></iconify-icon>
        </a>
        <a href="https://www.instagram.com/fonsolgroup/" target="_blank">
          <iconify-icon
            icon="mdi:instagram"
            class="text-2xl text-gray-300 hover:brightness-50"></iconify-icon>
        </a>
        <a href="https://wa.link/mr3wjj" target="_blank">
          <iconify-icon
            icon="ic:round-whatsapp"
            class="text-2xl text-gray-300 hover:brightness-50"></iconify-icon>
        </a>
      </div>
      <span class="text-xs">© {new Date().getFullYear()}  Todos los Derechos reservados | Fonsol Group. </span>
      <span class="text-xs">Powered by DAF Systems </span>
    </div>
    <div class="flex flex-col gap-3">
      <h3 class="text-2xl font-semibold">Contacto</h3>
      <ul class="flex flex-col gap-5">
        <li class="flex items-center gap-3">
          <a
            href="https://wa.link/mr3wjj"
            target="_blank"
            class="bg-gray-400/30 rounded-xl py-2 px-3 hover:brightness-50"
          >
            <iconify-icon
              icon="tabler:phone"
              class="text-white text-2xl text-center"></iconify-icon>
          </a>
          <div class="flex flex-col">
            <span class="font-semibold text-lg">Teléfono</span>
            <span class="text-gray-300 text-sm">+595 984 955 125</span>
          </div>
        </li>
        <li class="flex items-center gap-3">
          <a
            href=""
            class="bg-gray-400/30 rounded-xl py-2 px-3 hover:brightness-50"
          >
            <iconify-icon icon="ic:outline-email" class="text-white text-2xl"
            ></iconify-icon>
          </a>
          <div class="flex flex-col">
            <span class="font-semibold text-lg">Email</span>
            <span class="text-gray-300 text-sm">fonsolgroup@gmail.com</span>
          </div>
        </li>
        <li class="flex items-center gap-3">
          <span
            class="bg-gray-400/30 rounded-xl py-2 px-3"
          >
            <iconify-icon
              icon="mdi:address-marker-outline"
              class="text-white text-2xl"></iconify-icon>
          </span>
          <div class="flex flex-col">
            <span class="font-semibold text-lg">Dirección</span>
            <span class="text-gray-300 text-sm">Ciudad del Este</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-3">
      <h3 class="text-2xl font-semibold">Comenzar</h3>
      <ul class="flex flex-col gap-3">
        <li>
          <a
            class="hover:text-gray-400 underline-offset-5 hover:underline transition-all"
            href="#home">Inicio</a
          >
        </li>
        <li>
          <a
            class="hover:text-gray-400 underline-offset-5 hover:underline transition-all"
            href="#information">Información</a
          >
        </li>
        <li>
          <a
            class="hover:text-gray-400 underline-offset-5 hover:underline transition-al2"
            href="#productos">Productos</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
