<section class="mt-18">
    <div class="text-center text-white mb-16 max-w-screen">
        <h1 class="text-4xl mx-5 md:text-6xl font-semibold mb-8">Contamos con los mejores Materiales</h1>
        <p class="text-sm mx-5 md:text-xl md:w-5xl md:mx-auto">Lorem ipsum dolor sit amet consectetur. Elementum nisl duis tortor sed. Suspendisse lobortis vitae quis vehicula pellentesque sit id. Urna posuere consequat velit vulputate faucibus pretium arcu accumsan sit. Vel venenatis sapien.</p>
    </div>
    <div class="flex md:flex-row flex-col justify-between mb-8 w-full mt-18">
        <div class="flex flex-col items-center justify-center w-1/2 mb-12">
            <div class="flex gap-4 mb-8 ml-8">
                <img class="size-56 md:size-64" src="/momentaneo.png" alt="">
                <img class="w-[154px] h-[185px] md:h-[205px] mt-auto" src="/momentaneo.png" alt="">
            </div>
            <div class="flex min-w-screen md:min-w-fit justify-center mx-auto md:mx-0">
                <img class="w-[244px] h-[176px] md:h-[186px]" src="/momentaneo.png" alt="">
            </div>
        </div>
        <div class="text-center text-white md:w-1/2 md:mx-28 mx-8">
            <p class="text-sm md:text-lg text-start mb-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, veniam quaerat officia, aut iusto earum voluptatum,</p>
            <p class="text-sm md:text-lg text-start mb-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, veniam quaerat officia, aut iusto earum voluptatum,</p>
            <p class="text-sm md:text-lg text-start mb-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, veniam quaerat officia, aut iusto earum voluptatum,</p>
            <p class="text-sm md:text-lg text-start mb-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, veniam quaerat officia, aut iusto earum voluptatum,</p>
        </div>
    </div>
</section>