---
import Image from "astro/components/Image.astro";
import momentaneo from "public/momentaneo.png";
import BlurText from "@/components/animations/BlurText";
import Threads from "@/components/animations/Threads";
---

<section class="mt-18 2xl:min-w-screen">
  <div
    style={{ width: "100%", height: "700px", position: "absolute" }}
    class="mask-b-from-70% mask-b-to-100%"
  >
    <Threads
      client:load
    />
  </div>
  <div
    class="flex flex-col justify-center text-center text-white mb-16 max-w-screen"
  >
    <BlurText
      client:only="react"
      text="Contamos con los mejores Materiales"
      delay={150}
      animateBy="words"
      direction="top"
      className="text-4xl mx-5 md:text-6xl font-semibold mb-8"
    />
    <p
      class="text-sm mx-5 md:text-xl md:w-5xl md:mx-auto animate-on-scroll opacity-0 -translate-x-8 transition-all duration-1000 delay-800"
    >
      Lorem ipsum dolor sit amet consectetur. Elementum nisl duis tortor sed.
      Suspendisse lobortis vitae quis vehicula pellentesque sit id. Urna posuere
      consequat velit vulputate faucibus pretium arcu accumsan sit. Vel
      venenatis sapien.
    </p>
  </div>
  <div class="flex md:flex-row flex-col justify-between mb-8 w-full mt-18">
    <div class="flex flex-col items-center justify-center w-1/2 mb-12">
      <div class="flex gap-4 mb-8 ml-8">
        <Image
          class="size-56 md:size-64 object-cover z-20"
          src={momentaneo}
          alt="height image"
        />
        <Image
          class="w-[154px] h-[185px] md:h-[205px] mt-auto object-cover z-20"
          src={momentaneo}
          alt="low image"
        />
      </div>
      <div
        class="flex min-w-screen md:min-w-fit justify-center mx-auto md:mx-0"
      >
        <Image
          class="w-[244px] h-[176px] md:h-[186px] object-cover z-20"
          src={momentaneo}
          alt="bottom image"
        />
      </div>
    </div>
    <div class="text-center text-white md:w-1/2 md:mx-28 mx-8">
      <p
        class="text-sm md:text-lg text-start mb-8 animate-on-scroll opacity-0 -translate-x-8 transition-all duration-1000 delay-600"
      >
        <iconify-icon icon="simple-line-icons:check" class="text-lg text-green-400"
        ></iconify-icon>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, veniam
        quaerat officia, aut iusto earum voluptatum,
      </p>
      <p
        class="text-sm md:text-lg text-start mb-8 animate-on-scroll opacity-0 -translate-x-8 transition-all duration-1000 delay-700"
      >
      <iconify-icon icon="simple-line-icons:check" class="text-lg text-green-400"
        ></iconify-icon>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam,
        veniam quaerat officia, aut iusto earum voluptatum,
      </p>
      <p
        class="text-sm md:text-lg text-start mb-8 animate-on-scroll opacity-0 -translate-x-8 transition-all duration-1000 delay-800"
      >
      <iconify-icon icon="simple-line-icons:check" class="text-lg text-green-400"
        ></iconify-icon>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam,
        veniam quaerat officia, aut iusto earum voluptatum,
      </p>
      <p
        class="text-sm md:text-lg text-start mb-8 animate-on-scroll opacity-0 -translate-x-8 transition-all duration-1000 delay-900"
      >
      <iconify-icon icon="simple-line-icons:check" class="text-lg text-green-400"
        ></iconify-icon>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam,
        veniam quaerat officia, aut iusto earum voluptatum,
      </p>
    </div>
  </div>
</section>

<script is:inline>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove(
            "opacity-0",
            "translate-y-12",
            "scale-95",
            "-translate-x-8"
          );
          entry.target.classList.add(
            "opacity-100",
            "translate-y-0",
            "scale-100",
            "translate-x-0"
          );
          observer.unobserve(entry.target); // Si quieres que la animación ocurra solo una vez
        }
      });
    },
    { threshold: 0.1 }
  );

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".animate-on-scroll").forEach((el) => {
      observer.observe(el);
    });
  });
</script>
