---
import NavBar from "@/components/NavBar.astro";
import Footer from "@/components/Footer.astro";
import SocialsButtom from "@/components/SocialsButtom.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Fonsol Group - Bachas de Cocina</title>
    <meta
      name="description"
      content="Bachas de cocina de acero inoxidable"
    />
    <meta
      property="og:title"
      content="Fonsol Group - Bachas de Cocina de Acero Inoxidable"
    />
    <meta
      property="og:description"
      content="Descubre nuestras bachas de cocina de acero inoxidable, diseñadas para combinar funcionalidad y estilo en tu hogar."
    />
    <meta property="og:image" content="/public/img/logoFONSOL.png" />
    <meta
      name="keywords"
      content="fonsol, bachas, cocina, acero inoxidable, diseño, funcionalidad, hogar, productos de cocina, accesorios de cocina, bachas de cocina, bachas de acero, bachas de cerámica, bachas modernas, bachas elegantes, bachas funcionales, accesorios de cocina modernos, accesorios de cocina elegantes"
    />
    <meta name="robots" content="index, follow"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://fonsolgroup.com.py"/>
    <meta name="author" content="Fonsol Group"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/svg+xml" href="/img/logoFONSOL.png" />
  </head>
  <body class="scroll-smooth">
    <NavBar />
    <slot />
    <SocialsButtom />
    <Footer />

    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
    ></script>
    <script
      src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
    ></script>
  </body>
</html>

<style>
  html,
  body {
    font-family: "Poppins", sans-serif;
    background-color: #000;
    margin: 0;
  }
</style>
